html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.banner {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

@media only screen and (max-width: 1024px) {
  .banner {
    height: 22rem;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 17rem;
    background-position: 20%;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1024px) {
  header {
    top: 0;
  }
}

.company {
  display: flex;
}

nav ul {
  display: flex;
}

.company img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav ul li {
  margin-left: 2rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 470px) {
  nav ul {
    display: none;
  }

  .company span {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

.headline {
  position: relative;
  padding: 1.5rem 5rem;
  float: right;
  top: 11rem;
  margin-right: -2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .headline {
    top: 6rem;
    font-size: 1.33rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
}

@media only screen and (max-width: 470px) {
  .headline {
    width: 100%;
    top: 9rem;
    font-size: 1.33rem;
    margin-right: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}

.services {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  height: 8rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6rem;
  text-align: center;
}

@media only screen and (max-width: 470px) {
  .services,
  .informations {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  .services {
    margin: 3rem;
  }

  /* How in solution? */
  .service {
    margin: 0.77rem 0;
  }

  .description {
    font-size: 0.77rem;
  }
}

.paper img {
  max-width: 3.5rem;
}

.ruler img,
.truck img {
  max-width: 5rem;
}

.description {
  display: block;
}

/* Info section */

.informations {
  display: flex;
  /* How in solution? + 5% between */
  justify-content: center;
}

.info {
  flex-basis: 35%;
  margin-left: 5%;
}

.title {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  width: 10rem;
}

.info p {
  margin-top: 1rem;
}

@media only screen and (max-width: 470px) {
  .info {
    margin-left: 0;
  }

  .info p {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  .title {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}

/* Footer */

footer .company {
  padding: 4rem 4rem;
  margin-top: 5rem;
  background-color: azure;
}
